@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
*{
    margin: 0;
    padding:0;
}

html{
    scroll-behavior:smooth;
}
.logo{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 26%;
    border: 3px solid white;
    border-radius: 50px;
    margin: 4px;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top:0;
    cursor: pointer;
    
}

.nav-list{
    width: 80%;
    display: flex; 
    align-items: center;
}

.nav-list li{
    list-style: none;
    padding: 26px 30px;
}

.nav-list li a{
    text-decoration: none;
    color:white;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
}

.nav-list li a:hover{ 
    color: rgb(223, 28, 28);
    border: 2px solid rgb(230, 6, 118);
    border-radius: 10px;
    background-color: rgb(37, 33, 31);
    
}

.rightNav{ 
    width: 30%;
    text-align: right;
    padding: 0 23px;
}

#search{
    padding: 5px;
    font-size: 17px;
    border: 2px solid rgb(68, 65, 65);
    border-radius: 9px;
    margin-top: 10px;
}

.background{
    background: url('15.jpg');
    background-size:cover;
    background-blend-mode:darken;

}

.firstSection{
    height: 100vh;
}

.box-main{
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 50%;
    margin: auto;
        height: 80%;
}

.firstHalf{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.secondHalf{
    width: 30%;
}

.secondHalf img{
    width: 70%; 
    border: 4px solid white;
    border-radius: 150px;
    display: block;
    margin: auto;
}

.text-big{
    font-size: 35px;
}

.text-small{
    font-size: 15px;
}

.btn{
    padding: 8px 20px;
    margin: 7px 3px;
    border: 2px solid white;
    border-radius: 8px; 
    background: none;
    color: white;
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
}

.btn-sm{
    padding: 5px 10px;
    vertical-align: middle;
    font-size: 18px;
}

.btn-dark{
    color:red;
        border: 2px solid grey;
        background-color: black;

}
.btn-dark button:hover{
    color:red;


}
.section{ 
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 100%;
    margin: auto;
    font-family: 'Ubuntu', sans-serif;
    padding: 10px;
    background-color:black;
}

.section-left{
    flex-direction: row-reverse;
}

.paras{
    padding: 0px 55px;

}

.sectionTag{
    padding: 16px 0;
    color: red;
}

.sectionSubTag{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:blueviolet;
}


.thumbnail img{
    width: 200px;
    border: 2px solid black;
    border-radius: 26px;
    margin-top: 10px;
}

.contact{
    background-color: rgb(75, 70, 70);
    height: 700px;
    color: red;
    text-align: center;
}
.text-center{

    text-align: center;
    padding-top: 20px;
   font-family: 'Ubuntu', sans-serif;
       font-size: 35px;
}

.form{
    max-width: 62%;
    margin: 25px auto;
    
}

.form-input{
    margin: 14px 0;
    padding: 5px 13px;
    width: 100%; 
    font-size: 19px;
    border: 2px solid grey;
    border-radius: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:white;
    background-color:black;
}
.text-footer{
    text-align: center;
    padding: 30px 0;
   font-family: 'Ubuntu', sans-serif; 
   display: flex;
   justify-content: center;
   color: white;
   background-color: black;
   
}
.textrayaan{
    text-align: center;
   font-family: 'Ubuntu', sans-serif; 
   display: flex;
   justify-content: center;
   color: white;
   background-color: black;
   text-decoration: wavy;
   

}
.textrayaan p:hover{
color: red;
text-decoration: underline;
   

}

.burger{
    display: none;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top:15px;
}
.line{
    width: 33px;
    background-color: white;
    height: 4px;
    margin: 5px 3px;
}
.h-nav-resp{
    background-color:black;
}
.beta{
    margin: 10px;
    border: 2px solid black;
    padding: 5px;
    background-color:red;
    border-radius: 10px;
    text-align: center;
}
.beta  p:hover{
 color:white;
 font-size: large;
 align-content: center;
}
#sponsars{
    height: 40px;
    max-width: 250px;
    margin: auto;
    padding-top: 20px;
}
#sponsars img{
height: 50px

}
.backt{
    background-color:black;
}
.hmm{
     margin: 10px;
    border: 2px solid black;
    padding: 5px;
    background-color:red;
    border-radius: 10px;
    text-align: center;

}
.hmm p:hover{
 color:white;
 font-size: large;
 align-content: center;
}
.hdd{
    margin: 10px;
    border: 2px solid black;
    padding: 5px;
    background-color:red;
    border-radius: 10px;
    text-align: center;
}
.hdd p:hover{
    color:white;
     font-size: large;
 align-content: center;
}
#maa:hover{
color:red;
}
.spg:hover{
    color: green;
}
.voice{
    display: flex;
    margin: auto;
    color: black;
    border: 3px solid red;
    border-radius: 10px;
}
.sci{
    background-color: black;
}
.txt{
    margin: auto;
    align-items: center;
}
